.provider {
  + .provider {
    margin-top: 2em;
  }
  @include mq($break-sm) {
    display: flex;

    .image {
      width: 40%;
    }

    .info {
      padding-left: 1.5em;
      width: 60%;

      p:first-child {
        margin-top: 0;
      }
    }
  }
}
