/*------------------------------------------------------------------------------
  Typography
------------------------------------------------------------------------------*/
body {
  color: $color-rust;
}

// Links
a {
  text-decoration: none;
}

// Headings
h1 {
  font-size: $ts-h1-mobile;
  margin: 0 0 0.5em;
  text-transform: uppercase;
  color: $color-cinnamon;
}
h2 {
  font-size: $ts-h2;
  margin: 0;
}
h3 {
  font-size: $ts-h3;
  margin: 0;
}
h4 {
  font-size: $ts-h4;
  margin: 0;
}
h5 {
  font-size: $ts-h5;
  margin: 0;
}
h6 {
  font-size: $ts-h6;
  margin: 0;
}

@include mq($break-lg) {
  h1 {
    font-size: $ts-h1;
  }
}

h1,
h2,
h3 {
  font-family: $font-specialty;
}

h2 {
  border-bottom: 1px solid $color-cinnamon;
}

h3 {
  font-weight: 300;
}

p + h2,
p + h3,
p + h4 {
  margin-top: 1em;
}

.title {
  font-size: $ts-h5;
  font-family: $font-specialty;
  background: $color-cinnamon;
  color: $color-white;
  padding: 15px 5px 5px;
  line-height: 1;
}

p,
li {
  a {
    color: $color-rust;
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
}
