/*----------------------------------------------------------------------------
  Variables
----------------------------------------------------------------------------*/

/* COLORS */
$color-sand: #fff7d9;
$color-dark-sand: #dab164;
$color-tan: #967846;
$color-chocolate: #4a3029;
$color-cinnamon: #bb553a;
$color-rust: #321d02;

$color-facebook-blue: #3b5998;

$color-white: #ffffff;
$color-black: #000000;

/* FONTS */
$font-specialty: "Special Elite", cursive;
$font-body: "PT Sans", sans-serif;

$ts-h1: 3.1rem;
$ts-h2: 2.8rem;
$ts-h3: 2.5rem;
$ts-h4: 2.1rem;
$ts-h5: 1.9rem;
$ts-h6: 1.7rem;
$ts-h1-mobile: 2.4rem;

/* Breakpoints */
$max-width: 1180px;

$break-sm: 600px;
$break-md: 840px;
$break-lg: 980px;
$break-xl: 1200px;

$break-form: 768px;
